.side-bare{
    height: calc(100lvh - 60px);
    padding: 10px;
    width: 350px;
    // box-shadow: 0px 0px 2px 0px goldenrod;
    transition: all .3s;

.toggelcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .toggelbtn{
        display: block;
        padding: 15px 25px;
         font-size: 24px;
         color:#333;
        transition: .3s;
        &:hover{
            background-color: rgba(255, 224, 147, 0.277);
            border-radius: 5px;
         
            }
    }
}
.hidden{
    display: none;
}
}
.side-bare .link{
 display: block;
 padding: 15px 5px;
 font-size: 24px;
 color:#333;
 text-decoration: none;
 transition: .3s;
}
.side-bare .icon{
    margin-right: 15px;
}

.side-bare .link:hover{
   background-color: rgba(255, 224, 147, 0.277);
   border-radius: 5px;

//    .span{
//     box-sizing: border-box;
//     position: relative;
//     width: 220px;
//     text-align: center;
//     top: -30px;
//     left: 46px;
//     z-index: 99;
//     color: #ffcc8e;
//     background-color: white;
//     border-radius: 5px;
//    }

   }

.side-bare ul{
    padding: 0;


}
.side-bare .active{
    background-color: gold;
    color: white;
    border-radius: 5px;
}
.side-bare .user-manager{
    cursor: pointer;
   
}
.icon{
    padding-left: 10px;
}